@font-face {
    font-family: iranyekan-Bold;
    src: url("../font/IRANYEKAN-Bold.ttf");
}

@font-face {
    font-family: iranyekan-Light;
    src: url("../font/IRANYEKAN-Regular.ttf");
}

@font-face {
    font-family: vazir-Bold;
    src: url("../font/Vazirmatn-Bold.ttf");
}
@font-face {
    font-family: vazir-Light;
    src: url("../font/Vazirmatn-Regular.ttf");
}

.logo {
    -fx-font-family: iranyekan-Bold;
    -fx-font-size: 40px;
    -fx-font-weight: bold;
}

.text-bold {
    -fx-font-family: vazir-Bold;
    -fx-font-weight: bold;
    -fx-font-size: 36px;
}

.text-light {
    -fx-font-family: vazir-Light;
    -fx-font-weight: normal;
    -fx-font-size: 16px;
    -fx-font-weight: 300;
}